*{
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}
.qr-image {
    width: 100%;
    border-radius: 10px;
}
h1 {
    font-size: 1.5em;
    color: hsl(218, 44%, 22%);
    margin: 15px 0;
    font-weight: 700;
}
p {
    font-size: 1em, 15px;
    color: hsl(216, 15%, 48%);
    line-height: 1.5;
    font-weight: 400;
}